<ul nz-menu [nzMode]="'horizontal'">
  <li nz-menu-item><a routerLink="/"><i class="anticon anticon-mail"></i> Navigation One</a></li>
  <li nz-menu-item><a routerLink="/watch/abc"><i class="anticon anticon-appstore"></i> Navigation Two</a></li>
  <li nz-submenu>
    <span title><i class="anticon anticon-setting"></i> Navigation Three - Submenu</span>
    <ul>
      <li nz-menu-group>
        <span title>Item 1</span>
        <ul>
          <li nz-menu-item>Option 1</li>
          <li nz-menu-item>Option 2</li>
        </ul>
      </li>
      <li nz-menu-group>
        <span title>Item 2</span>
        <ul>
          <li nz-menu-item>Option 3</li>
          <li nz-menu-item>Option 4</li>
          <li nz-submenu>
            <span title>Sub Menu</span>
            <ul>
              <li nz-menu-item nzDisabled>Option 5</li>
              <li nz-menu-item>Option 6</li>
            </ul>
          </li>
          <li nz-submenu nzDisabled>
            <span title>Disabled Sub Menu</span>
            <ul>
              <li nz-menu-item>Option 5</li>
              <li nz-menu-item>Option 6</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li nz-menu-item>
    <a href="https://ng.ant.design" target="_blank" rel="noopener noreferrer">Navigation Four - Link</a>
  </li>
</ul>

<nz-layout class="layout">
  <nz-content style="padding:0 50px;">
    <nz-breadcrumb style="margin:16px 0;">
      <nz-breadcrumb-item>Home</nz-breadcrumb-item>
      <nz-breadcrumb-item>List</nz-breadcrumb-item>
      <nz-breadcrumb-item>App</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div style="background:#fff; padding: 24px; min-height: 280px;">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer style="text-align: center;">Ant Design ©2017 Implement By Angular</nz-footer>
</nz-layout>
