<div nz-row>
  <button (click)="goBack()" nz-button nzType="primary">go back</button>
</div>
<br>
<iframe width="560" height="315" [src]="sanitizer.bypassSecurityTrustResourceUrl(link)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
